.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #14684e;
  width: 70%;
  margin: auto;
  padding: 50px;
}
h1 {
  color: #e7e8e8;
  font-size: 36px;
}
.ratings {
  font-size: 40px;
}

.star {
  padding: 5px;
  color: rgb(230, 237, 226);
  cursor: pointer;
}

.star-filled {
  color: #befea8;
}

h2 {
  color: #38af79;
}

.total {
  color: rgb(225, 231, 75);
}
