@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 250px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  /* align-items: center; */
}

.container > .container__tittle {
  /* background-color: black; */
  font-size: 38px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: rgb(53, 53, 53);
}

.container > .container__label {
  justify-content: center;
  display: flex;
  font-size: 28px;
  justify-content: space-between;
}

.container > .container__inputs {
  justify-content: center;

  display: flex;

  justify-content: space-between;
}

.container > .container__inputs > .inputs__time {
  border: none;
  font-size: 50px;
  width: 90px;
  height: 50px;
  outline: none;
  /* text-align: center; */
}

input::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container > .container__inputs > .inputs__colon {
  font-size: 40px;
}

.container > .container__btn {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.btn {
  width: 48%;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: 20px;
}

.start {
  background-color: green;
}
.reset {
  background-color: orange;
}

.stop {
  background-color: red;
  display: none;
}
