*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.nav{
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(154, 95, 209);
    align-items: center;
}

.nav>.logo a{
    text-decoration: none;
    color: white;
  
   
    
}

.nav>.logo a h1{
    padding: 20px;
}
.nav > .list-cont{
  
    display: flex;
    /* width: 40%; */
    justify-content: space-between;
    align-items: center;
   
}
.nav > .list-cont a{
    text-decoration: none;
    color: white;
}

.nav > .list-cont a>li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 400;
    padding: 26px;
}
.nav > .list-cont a>li:hover{
    color: rgb(213, 211, 213);
}

.nav > .list-cont a>li:hover{
    color: rgb(213, 211, 213);
}

.nav>.logo a:hover{
    color: rgb(213, 211, 213);
}

.menu-items a span {
 font-size: 32px;
 color: white;
 padding: 20px;
}

.menu-items {
    display: none;
}
.menu-cont{
   
        display: none;
        transition: display 2s ease;
    
}

@media only screen and (max-width: 650px) {

    .nav > .list-cont{
  
        display:none;
       
    }
    .menu-items {
        display: block;
    }
    .menu-cont{
        width: 100%;
        background-color: rgb(52, 51, 51);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    
    }
   .menu-cont a{
    display: inline-block;
   }
   .menu-cont a li:hover{
    background-color: white;
    color: rgb(154, 95, 209);
   }
.menu-cont a ,li{
   padding: 10px 0 10px 0;
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.menu-cont a:hover{
    background-color: white;
   
}
  }

 

  .container {
    background-image: url('beautiful-nature-mountain-scenery-with-flowers-free-photo.webp');
    background-size: cover; /* or specify other values like 'contain' */
    background-repeat: no-repeat;
    height: 92.5vh;
    width: 100vw;
    /* other styles */
}
